.card {
  background: #fff; 
  padding: 15px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,.1);
  text-align: center;
  transition: .25s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 4px solid #daa520; 
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(0,0,0,.15);
}

.imagePlaceholder {
  width: 100%;
  height: 150px;
  background: #eee;
  border-radius: 10px;
  margin-bottom: 10px;
}

.title {
  margin: 8px 0;
  font-size: 18px;
  color: #6a0f1e;
}

.price {
  font-size: 20px;
  margin: 6px 0 15px 0;
  font-weight: bold;
  color: #daa520;
}

.btnBuy {
  background: #6a0f1e;
  border: none;
  color: #ffd966;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: .25s;
  text-decoration: none;
  display: block;
}

.btnBuy:hover {
  background: #520b18;
  transform: translateY(-2px);
}

.productImage {
  width: 100%;
  height: 150px;
  object-fit: contain; 
  background: #f4f4f4; 
  border-radius: 10px;
}
